APP_NAME=insurance-cms
APP_ENV=development
APP_VERSION=0.1.0
GIT_HASH=dev
PORT=3000

# Backend Core API Integration
NEXT_PUBLIC_CORE_API_URL=http://localhost:8080
CORE_API_INTERNAL_URL=http://insurance-core-api:8080

# Next.js Telemetry
NEXT_TELEMETRY_DISABLED=1
